.container {
    min-height: 100vh;
}

body {
    background-color: #67121e !important;
}

#title{
    color: #ffcbd2;
    font-size: 18.8em;
    text-align: center;
}

#intro {
    color: #ffcbd2;
    text-align: center;
    font-size: 1.8em;
}

.typing {
    color: #ffcbd2;
    /* font-size: 2em; */
    text-align: center;
}

#findButton {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1em;
}

#find {
  background-color: #ffcbd2;
  border: none;
  color: #67121e;
  border-radius: 3em;
  padding: 0.2em 5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3em;
}

#find:hover {
    background-color: #c3fbf4;
    font-weight: 600;
}

#text {
    padding-top: 2em;
}

#or {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    color: #ffcbd2;
}

#select{
    color: #ffcbd2;
    text-align: center;
    position: relative;
    font-size: 60px;
    top: 0.1em;
}

#gallery{
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}

#ch {
    background-color: #67121e;
    border: none;
    color: #ffcbd2;
    padding: 0.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
}

#ch:hover {
    color: #c3fbf4;
    font-weight: 600;
    border-bottom: 3px solid #c3fbf4;
}

#jp {
    background-color: #67121e;
    border: none;
    color: #ffcbd2;
    padding: 0.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
}

#jp:hover {
    color: #c3fbf4;
    font-weight: 600;
    border-bottom: 3px solid #c3fbf4;
}

#kr {
    background-color: #67121e;
    border: none;
    color: #ffcbd2;
    padding: 0.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
}

#kr:hover {
    color: #c3fbf4;
    font-weight: 600;
    border-bottom: 3px solid #c3fbf4;
}

#Chinese {
    padding-right: 2.5em;
}

#Korean {
    padding-left: 2.5em;
}