body{
    background-image: url("/img/backgr1.webp");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

#title{
    color: rgb(14, 175, 14);
    font-size: 100px;
    text-align: center;
}

#findButton {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 3em;
}

#find {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  border-radius: 3px;
  padding: 0.2em 5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3em;
}

#text {
    padding-top: 5em;
}

#or {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    color: white;
}

#select{
    color: rgb(14, 175, 14);
    text-align: center;
    position: relative;
    font-size: 60px;
    /* top: 100px; */
    top: 0.1em;
}

#gallery{
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  /* top: 250px; */
  /* height: 200px; */
}

#Chinese {
	background:red;
    width:200px;
	height:200px;
	margin:10px;
	padding:10px;
}

#Japanese{
    background-color: red;
    width:200px;
	height:200px;
	margin:10px;
	padding:10px;
}

#Korean{
    background-color: red;
    width:200px;
	height:200px;
	margin:10px;
	padding:10px;
}