body {
    width: 100%;
}

.container {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

#navbar {
    background-color: aliceblue;
}

#title {
    margin: 0 auto;
}

#title:hover {
    cursor: pointer;
}

#findButton {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1em;
}

#find {
  background-color: #ffcbd2;
  border: none;
  color: #67121e;
  border-radius: 3em;
  padding: 0.2em 5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3em;
}

#find:hover {
    background-color: #c3fbf4;
    font-weight: 600;
}


#tempicon {
    max-width: 4em;
    height: auto;
}