html {
    scroll-behavior: smooth;
    background-color: #ffcbd2;
}

body {
    background-color: #ffcbd2 !important;
}

#gallery {

    padding: 5%;

}

.navbar-brand {
    /* padding: 5%; */
    padding-left: 10% !important;
}

#home {
    max-width: 4.5em;
    height: auto;
    padding-left: 15%;
    margin-left: 25%;
}

.card {

    padding: 3%;
    margin: 2% auto;
    background-color: #ffcbd2 !important;
    border: none !important;
    width: 80%;

}

.card-embed {

    aspect-ratio: 1 / 1;
    width: 4%;
    display: inline;

}

.card-title {

    height: 100%;
    display: inline;

}

/* Start of top button */

#scrollTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 4%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba#67121da3;
    color: black;
    cursor: pointer;
    padding: 1% 15px;
    border-radius: 10px;
    font-size: 21px;
}
  
#scrollTopButton:hover {
    background-color: rgba#67121dd1;
}
/* End of top button */

/* Start of current button */

#scrollCurrentButton {

    display: none;
    position: fixed;
    bottom: 20px;
    left: 4%;
    z-index: 99;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 5%;
    height: 6%;

}

#target{
    width: 75%;
    aspect-ratio: 1 / 1;
}

#scrollCurrentButton:hover {
    background-color: rgba#67121dd1;
}

#applyfilter {
    margin: 0.5em !important;
    margin-right: 2% !important;
}

/* End of current button */