#gallery {

    padding: 5%;

}

.card {

    padding: 3%;
    margin: 2%;

}

.card-embed {

    aspect-ratio: 1 / 1;
    width: 4%;
    display: inline;

}

.card-title {

    height: 100%;
    display: inline;

}